body {
    background: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.35
}

/*anim iniciales*/
#logo, #f3-i1, #f3-i2, #f3-i3,#fondo-mine,#f1-i1,#f1-i2,#f1-i3,#f2-i1,#f2-i2,#encabezado h2, p .letter,#formulario .form-control, #formulario > input {
    opacity: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
}

img {
    max-width: 100%;
}

#contenedor {
    height: 100vh;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
    background: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: white;
    justify-content: space-between;
}

.flota-1, .flota-2, .flota-3, .fondo {
    position: absolute;
}

#logo {
    margin-bottom: 5vh;
    max-width: 300px;
}

.fondo {
    background: black;
    top: 105px;
    bottom: 105px;
    left: 105px;
    right: 105px;
    z-index: 1;
}

#encabezado {
    position: relative;
    z-index: 2;
    width: 340px;
    margin-top: 35px
}

#encabezado .vertical {
    position: absolute;
    left: 0;
    text-align: right;
    top: 180px;
    font-family: 'Playfair Display', serif;
    font-size: 0.85rem;
    letter-spacing: 0.02em;
    transform: translateY(350%) rotate(-90deg) ;
    transform-origin: 0 0;
}

#encabezado .vertical::after {
    content: "";
    background: #c4e6e2;
    width: 3px;
    height: 13px;
    bottom: -10px;
    right: -18px;
    position: absolute;
}

#encabezado h2, #encabezado p {
    padding-left: 90px;
}

#encabezado h2 {
    color: #c4e6e2;
}

#encabezado .lanzamiento {
    padding-left: 90px;
    margin-top: 5vh;
}

#encabezado .lanzamiento .fecha {
    border-bottom: 1px solid white;
    position: relative;
}

#encabezado .lanzamiento .fecha span {
    font-size: 20px;
    padding-bottom: 18px;
    display: inline-block;
    width: 33.333%;
    text-align: center;
    font-weight: 900;
    position: relative;
}

#encabezado .lanzamiento .fecha span:after {
    content: "";
    background: #c4e6e2;
    height: 3px;
    width: 13px;
    bottom: -2px;
    position: absolute;
}

#encabezado .lanzamiento .fecha span:before {
    content: "";
    background: #c4e6e2;
    height: 8px;
    width: 8px;
    right: 15%;
    top: 10px;
    border-radius: 100%;
    position: absolute;
}

#encabezado .lanzamiento .fecha span:nth-child(2)::before {
    right: -25%;
}

#encabezado .lanzamiento .fecha span:last-child:before {
    display: none
}

#encabezado .lanzamiento .fecha span:first-child {
    text-align: left;
}

#encabezado .lanzamiento .fecha span:last-child {
    text-align: right;
}

#encabezado .lanzamiento .fecha span:first-child:after {
    left: 0;
}

#encabezado .lanzamiento .fecha span:nth-child(2):after {
    left: 50%;
    margin-left: -6px;
}

#encabezado .lanzamiento .fecha span:last-child:after {
    right: 0;
}

#encabezado .lanzamiento > span {
    display: block;
    color: #c4e6e2;
    text-align: center;
    letter-spacing: 0.5em;
    padding-top: 8px;
    text-align: center;
}

#formulario {
    position: relative;
    z-index: 2;
    padding: 0 90px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
}

#formulario > div {
    width: 33.33333%;
    margin: 0;
}

.form-control {
    display: flex;
    align-items: flex-end
}

.form-control input {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    width: 100%;
    color: white;
}

.form-control label {
    width: 60px;
    padding: 0 8px;
}

#formulario input[type="submit"] {
    padding: 0 20px;
    letter-spacing: 0.5em;
    margin-top: 32px;
    margin-left: 66.6666%;
    margin-left: calc(66.6666% + 8px);
    border: 0;
    box-sizing: border-box;
    height: 30px;
    background: #c4e6e2;
    border: 1px solid #c4e6e2;
    cursor: pointer;
    transition: all 1s ease;
}

#formulario input[type="submit"]:hover {
    color: #c4e6e2;
    background: transparent;
}

/*Flotantes*/
.flota-1, .flota-2, .flota-3 {
    z-index: 3;
}

.flota-1 {
    width: 80px;
    height: 60px;
    left: 75px;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

#f1-i1, #f1-i3 {
    width: 3px;
}

#f1-i2 {
    width: 19px;
}

.flota-2 {
    width: 86px;
    height: 109px;
    left: 175px;
    bottom: 250px
}

#f2-i2 {
    width: 21px;
    margin: 22px auto 0;
    display: block;
}

.flota-3 {
    width: 132px;
    height: 501px;
    right: 20%;
    top: 115px;
    text-align: center;
}

#f3-i2 {
    width: 55%;
    margin-top: 40%;
}

#f3-i3 {
    width: 55%;
    margin-top: 40%;
}

.fondo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fondo:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 60px 50px rgba(0,0,0,1) inset;
}

.fondo:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: -5px;
    right: -5px;
    height: 300px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    mix-blend-mode: multiply
}

.form-control input:focus {
    outline: none;
    border-color: #c4e6e2;
}

.fondo.opt-1 {
    background-image: url('../img/fondo-1.jpg');
}

.fondo.opt-2 {
    background-image: url('../img/fondo-2.jpg');
}

/*Responsive*/
/*Horizontal*/
@media screen and (max-width: 1000px) {
    #formulario {
        padding: 0 30px;
    }

    .flota-3 {
        width: 102px;
        height: 401px;
    }

    #encabezado {
        width: 260px
    }

    #encabezado h2, #encabezado p, #encabezado .lanzamiento {
        padding-left: 60px;
    }
}

@media screen and (max-width: 720px) {
    .flota-3 {
        width: 62px;
        height: 201px;
    }

    #formulario {
        margin-bottom: 40px
    }

    #formulario .form-control:nth-child(1), #formulario .form-control:nth-child(2) {
        width: 50%;
    }

    #formulario .form-control:nth-child(3) {
        width: 50%;
    }

    #formulario input:nth-child(4) {
        width: 45%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 690px) {
    #logo {
        width: 75%;
    }

    #formulario {
        padding: 0;
    }

    .fondo {
        top: 65px;
        bottom: 105px;
        left: 35px;
        right: 35px;
    }

    #encabezado {
        margin-top: 0;
        height: 100%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        width: initial;
    }

    #encabezado h2, #encabezado p, #encabezado .lanzamiento {
        padding-left: 10px;
    }

    #encabezado #logo {
        max-width: 260px;
    }

    #encabezado h2 br {
        display: none;
    }

    #encabezado .lanzamiento {
        max-width: 260px;
        margin-top: 10px;
    }

    #encabezado h1 {
        height: 100%;
    }

    .flota-1 {
        left: 15px;
        top: 25%;
    }

    .flota-2 {
        left: initial;
        right: 15px
    }

    .flota-3 {
        top: 15px;
        right: 15px;
    }
    #encabezado .vertical {
        top: 135px;
    }
}

@media screen and (max-width: 480px) {
    #contenedor #formulario .form-control {
        width: 100%;
        margin-bottom: 22px;
    }

    #contenedor #formulario .form-control label {
        width: 80px;
    }

    #formulario {
        justify-content: flex-end;
    }

    #formulario input:nth-child(4) {
        width: initial;
        margin-top: 5px;
    }

    #formulario {
        margin-bottom: 10px
    }

    .flota-3 {
        width: 40px;
        height: 101px;
    }

    .flota-1 {
        width: 60px;
    }

    .flota-2 {
        display: none;
    }

    #encabezado {
        margin-bottom: 10px;
        width: 100%;
    }

    #encabezado #logo {
        max-width: 200px;
    }

    #encabezado h2 {
        margin-bottom: 0;
    }
    #encabezado .vertical {
        transform: initial;
        text-align: left;
        top: 100px;
    }
    #encabezado .vertical:after {
        display: none;
    }
    #encabezado .lanzamiento .fecha span {
        padding-bottom: 4px;
        font-size: 16px;
    }
    #encabezado .lanzamiento {
        margin-bottom: 18px;
    }
}

/*Alto de pantalla*/
@media screen and (max-height: 900px) and (orientation: landscape) {
    .flota-3 {
        width: 102px;
        height: 401px;
    }

    .flota-2 {
        width: 56px;
        height: 89px;
        left: 175px;
        bottom: 210px
    }
}

@media screen and (max-height: 720px) and (orientation: landscape) and (min-width: 690px) {
    .flota-3 {
        width: 62px;
        height: 201px;
    }

    .flota-1 {
        top: 65%;
    }

    .flota-2 {
        display: none
    }

    #formulario {
        margin-bottom: 10px
    }
}

@media screen and (max-height: 720px) and (orientation: landscape) and (max-width: 690px) {
    .flota-3 {
        width: 62px;
        height: 201px;
    }

    .flota-1 {
        display: none
    }

    .flota-2 {
        display: none
    }

    #formulario {
        margin-bottom: 10px
    }
}
